<div style="display: flex; flex-direction: column; align-items: center; margin-top: 2%;">

    <h1>Add New Crop Type</h1>
    
    <form [formGroup]="cropTypeForm" (ngSubmit)="submit()">
      <div class="mb-3">
        <label for="cropTypeName" class="form-label">CropType Name</label>
        
        <input type="text" class="form-control" formControlName="cropTypeName" [(ngModel)]="cropType.cropTypeName">
        
        <div *ngIf="cropTypeForm.controls['cropTypeName'].touched && cropTypeForm.controls['cropTypeName'].invalid">
          <div *ngIf="cropTypeForm.controls['cropTypeName'].hasError('required')" class="text-danger">
            Crop Type Name is Required
          </div>
        </div>
      </div>
  
      <button type="submit" class="btn btn-primary">Submit</button>
      
      <br>
      
      <a class="btn btn-primary" (click)="back()">Back</a>
    </form>
  
  </div>