<h1 style="display: flex;justify-content: center;padding: 20px;">Order History</h1>
<div class="container">
    <div *ngFor = "let item of allReceipt" id ="{{'invoice'+item.reciptId}}">
    <div class="container" style="margin: 40px;  ">
        <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="invoice-title">
                                <h4 class="float-end font-size-15">Invoice #DZ00{{item.reciptId}} <button class="badge bg-success font-size-12 ms-2" (click)="printInvoice('invoice'+item.reciptId)">Print</button></h4>
                                <div class="mb-4">
                                <h2 class="mb-1 text-muted">Crop Deal</h2>
                                </div>
                                <div class="text-muted">
                                    <h5 class="font-size-16 mb-3">Sender:</h5>
                                        
                                    <!-- <p class="mb-1">{{item.farmerUser.location}}</p> -->
                                    <p class="mb-1">{{item.farmerUser.name}}</p>
                                </div> 
                            </div>
        
                            <hr class="my-4">
        
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="text-muted">
                                        <h5 class="font-size-16 mb-3">Billed To:</h5>
                                        <h5 class="font-size-15 mb-2">{{item.dealerUser.name}}</h5>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="text-muted text-sm-end">
                                        <div>
                                            <h5 class="font-size-15 mb-1">Invoice No:</h5>
                                            <p>#DZ00{{item.reciptId}}</p>
                                        </div>
                                        <div class="mt-4">
                                            <h5 class="font-size-15 mb-1">Invoice Date:</h5>
                                            <p>{{item.dealDate | date}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="py-2">
                                <h5 class="font-size-15">Order Summary</h5>
        
                                <div class="table-responsive">
                                    <table class="table align-middle table-nowrap table-centered mb-0">
                                        <thead>
                                            <tr>
                                                <th style="width: 70px;">No.</th>
                                                <th>Item</th>
                                                <th>Price</th>
                                                <th>Quantity</th>
                                                <th class="text-end" style="width: 120px;">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">01</th>
                                                <td>
                                                    <div>
                                                        <h5 class="text-truncate font-size-14 mb-1">{{item.cropDetails.cropName}}</h5>
                                                    </div>
                                                </td>
                                                <td>Rs {{item.cropDetails.pricePerKg}}</td>
                                                <td>{{item.quantityRequired}}</td>
                                                <td class="text-end">Rs {{item.totalAmount}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row" colspan="4" class="text-end">Sub Total</th>
                                                <td class="text-end">{{item.totalAmount}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>