<div class="superNav border-bottom  bg-light" style="color: #7a7a7a;">
  <nav class="navbar navbar-expand-lg  sticky-top navbar-light p-3" style="color: #7a7a7a;">
    <div class="container">
      <a class="navbar-brand"><i class="fa-solid fa-shop me-2"></i><strong style="font-size: 20px;">Crop Deal</strong></a>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
        <div class="ms-auto d-none d-lg-block">
          <div class="input-group">
            <span class="border-success input-group-text bg-success text-white"><i class="fa-solid fa-magnifying-glass"></i></span>
            <input type="text" class="form-control border-success" style="color:#7a7a7a" [(ngModel)] ="searchCrop" >
            <button type="button" class="btn btn-success text-white" [routerLink] ="['/User','SearchCrop',searchCrop]" >Search</button>
          </div>
        </div>
      </div>

      <ul class="navbar-nav ms-auto ">
        <li class="nav-item">
          <a class="mx-2 text-uppercase" *ngIf="authService.isRole() === null" (click) = "home()"> Home</a>
        </li>
        <li class="nav-item">
          <a class="mx-2 text-uppercase" *ngIf="authService.isRole() !== null" (click) = "homeLoggedIn()"> Dashboard</a>
        </li>
        <li class="nav-item" *ngIf="authService.isRole() === null">
          <a class="mx-2 text-uppercase" (click) = "login()"> Login</a>
        </li>
        <li class="nav-item" *ngIf="authService.isRole() === null">
          <a class="mx-2 text-uppercase" (click) ="register()"> Register</a>
        </li>
        <li class="nav-item" *ngIf="authService.isRole() !== null">
          <a class="mx-2 text-uppercase" (click) ="viewProfile()"> View Profile</a>
        </li>
        <li class="nav-item" *ngIf="authService.isRole() === 'dealer' && subscribe === null" (click) = "addSubscribe()">      
          <a class="mx-2 text-uppercase" >Subscribe</a>
        </li>
        <li class="nav-item" *ngIf="authService.isRole() === 'dealer' && subscribe !== null" (click) = "UnSubscribe()" >      
          <a class="mx-2 text-uppercase" >UnSubscribe</a>
        </li>
        <li class="nav-item" *ngIf="authService.isRole() !== null">
          <a class=" mx-2 text-uppercase" (click) ="logout()"> Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
